/* *{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
} */
.bode{
    font-family: 'DM Sans', sans-serif;    
}
.h1{
     font: size 20px;
     font-weight: bold;
}
.header{
    background-color: #FF714345;
    padding: 38px 0 48px;
}
.footer{
    background-color: #FF714345;
    padding: 59px 0;
}
.container{
    max-width: 1070px;
    margin: 0px auto;
    padding-left: 170px;        
}
.header_flex, .footer_flex, .about, .subscribe, .plan_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_li{
    display: inline-block;    
}
.nav_link{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    line-height: 100%;
    letter-spacing: -0.47px;
    color: #696871;
    text-decoration: none;
}
.nav_link:hover{
    color: black;
    transition: 300ms;
}
.nav_li:not(:first-of-type){
    margin-left: 49px;
}
.btn{
    width: 212px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.53px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    transition: 500ms;
}
.btn_orange{
    background-color: #FF7143;
}
.btn_orange:hover{
    background-color: #e45563;
}
.btn_violet{
    background-color: #5454D4;
}
.btn_violet:hover{
    background-color:#4545d1;
}
.btn_wight{
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
    margin: 30px;
}
.btn_wight:hover{
    color: #2626cc;
    border: 1px solid #2626cc;
}
.about{
    margin: 104px auto 85px;
}
.about_title{
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.5px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}
.about_text{
    font-weight: regular;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.63px;
    color: #696871;
    max-width: 410px;
    margin-bottom: 30px;
}
.subscribe{
    margin-bottom: 85px;
}
.subscribe_title{
    font-weight: Bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56px;
    color: #19191B;
    margin-bottom: 38px;
}
.input{
    width: 302px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid#7087FF;
    padding-left: 14px;
    box-sizing: border-box;
    margin-right: 39px;   
}
.input::placeholder, .input{
    font-weight: Bold;
    font-size: 17px;
    line-height: 22px;
    line-height: 100%;
    letter-spacing: -0.53px;
    color: #000000;
}
.input:focus{
    outline: none;
}
.plan{
    margin-bottom: 132px;
}
.plan_title{
    font-weight: Bold;
    font-size: 60px;
    line-height: 70px;
    line-height: 90%;
    letter-spacing: -1.88px;
    color: #19191b;
    max-width: 504px;
    margin-bottom: 110px;
}
.item{
    width: 330px;
    background: #F8F8F8;
    border-radius: 10px;
    text-align: center;
    padding: 34px 0 27px;
    
}
.item:hover{
    transition: 500ms;
    background: #ff7143;
    box-shadow: 0 32px 34px rgba(255, 112, 59, 0.317827);
}
.item_text{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.56px;
    color: #696871
    }
.item:hover .item_text, .item:hover .item_title, .item:hover .item_li{
    transition: 500ms;
    color: white;
}
.item_title{
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;
    letter-spacing: -1.03px;
    color: #1D293F;
    margin: 22px 0 28px;
}
.item_title span{
    font-size: 18px;
}
.item_li{
    font-size: 17px;
    line-height: 50px;
    letter-spacing: -0.53px;
    color: #696871    
}
.btn_item{
    width: 285px;
    background: #ffffff;
    color: #5454D4;
    margin-top: 36px;   
}
.item:hover .btn_item{
    background: #9f3919;
    color: #ffffff;
    transition: 500ms;    
}

@media screen and (max-width: 550px){
    .container{
        max-width: 375px;
    }
    .header .nav, .header__button-container{
        display: none;
    }

    .header_flex{
        justify-content: center;
    }
    
    .about{
        flex-direction: column;
        text-align: center;
        margin: 50px auto;
    }
    
    .about_title{
        font-size: 60px;
        line-height: 60px;

    }

    .btn{
        width: 100%;
    }
    
    .btn_wight{
        margin-left: 0;
        margin-top: 30px;        
    }
    
    .about .imeg{
        width: 100%;
    }

    .subscribe{
        flex-direction: column-reverse;
    }
    
    .input{
        width: 100%;
        margin-bottom: 30px;
    }

    .imeg__container{
        margin-top: 30PX;
    }

    .plan_title{
        text-align: center;
    }

    .plan_flex{
        flex-direction: column;
    }

    .item::not(::last-of-typo){
        margin-bottom: 30px;
    }

    .item .btn{
        width: 80%;
    }

    .footer_flex{
        flex-direction: column;
    }
}